.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.featuredItem {
    flex : 1;
    margin: 0 20px;
    padding : 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.featuredTitle {
    font-size: 20px;
}
.featuredMoneyContainer {
    margin : 10px 0;
    display: flex;
    align-items: center;
}
.featuredMoney {
    font-size : 30px;
    font-weight: 600;
}
.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featuredIcon {
    font-size: 18px;
    margin-left: 5px;
    color: green;
}
.featuredIcon.negative {
    color: red;
}
.featuredSub {
    font-size: 16px;
    color: #555;
}