.topbar{
    width : 100%;
    height : 50px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 99;
}

.topbarWrapper{
    height: 100%;
    padding : 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight : bold;
    font-size : 30px;
    color: darkblue;
    cursor: pointer;
}
.topRight {
    display: flex;
    align-items: center;
}
.topbarIconsContainer{
    position: relative;
    cursor: pointer;
    margin-right : 18px;
    color : #555;
}
.topbarIcon{
    font-size: 22px !important;
}
.topIconBadge {
    width: 16px;
    height : 16px;
    position: absolute;
    top: -5px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display : flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.topAvatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}